{% assign selected_variant = product.selected_or_first_available_variant %}

<div class="w-full py-6 px-3">
  <div class="border bg-white shadow-lg rounded-lg overflow-hidden">
    <a href="{{ product_product.url }}">
      {% if product_product.featured_image %}
        <div class="h-60 overflow-hidden">
          <img
            class="w-full h-full object-cover transition duration-1000 ease-in-out transform hover:scale-105 "
            src="{{ product_product.featured_image | img_url: 'medium' }}"
            alt="{{ product_product.featured_image.alt }}">
        </div>

      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
      {% endif %}
    </a>
    <div class="flex flex-row p-4">
      <div class="flex flex-col p-4">
        <span class="text-sm text-gray-400">{{ product_product.vendor }}</span>

        <a href="{{ product_product.url }}" class="text-gray-700 uppercase font-medium">{{ product_product.title }}</a>

        <p class="text-gray-500">{{ product_product.price | money }}</p>
      </div>
      <div>
        <button
          type="submit"
          name="add"
          class="w-20 h-20 py-4 px-6 bg-gray-900 text-white hover:bg-gray-700 rounded-md my-2"
          {% if selected_variant.available == false %}disabled{% endif %}>

          {% if selected_variant.available == false %}
            Sold Out
          {% else %}
            Add To Cart
          {% endif %}

        </button>
      </div>
    </div>
  </div>
</div>